.menu {
 margin-bottom: 15px;
 max-width: 1200px;
 margin: 0 auto;
} 
/*.menu_restName {
 text-align: center;
 font-size: 70px;
 margin-top: 0;
}*/

.menu_title {
 text-align: center;
}
.menu_section {
 margin-bottom: 30px;
}
 
.menu_section h3 {
 font-style: oblique;
 font-weight: bold;
}

.menu_item {
 margin: 0 15px;
 position: relative;
}

.menu_item h4 {
  margin-bottom: 0px;
  font-size: 20px;
  color:#fff;
}

.price {
display: block;
float: right;
position: absolute;
bottom: 0px;
right: 0;
font-weight: bold;
color:#fff;
}

.description {
margin-top: 5px;
font-style: italic;
display: inline-block;
max-width: 50%;
}

hr {
border: none;
border-top: 1px solid white;
margin-top: -20px;
}

footer:not(.app-footer) {
text-align: center;
font-size: 11px;
font-style: normal;
}

@media (max-width: 575px) {
.menu_title {
text-align: center;
font-size: 30px;
}

.menu_section h3 {
text-align: center;
font-size: 20px;
}

.menu_item {
text-align: center;
}

.price {
float: none;
position: static;
margin-top: 15px;
}

hr {
display: none;
}
}
	